.board  {
background-color :black;
color: white;
padding: 30px;
border-radius: 10px;
box-shadow: rgba(0,0,0,0.8) 0 0 10px;
}


body{
    background-color: blueviolet;
    color: white;
    text-align: center;
    font-size: 50px;
    box-shadow: rgba(0,0,0,0.8) 0 0 10px;

}
header{
    font-size: 50px;
    text-align: center;
    color: white;
    margin-top: 25px;
    margin-bottom: 50px;
    text-shadow: rgba(0,0,0,0.8) 0 0 20px;
}
#reset{
    margin-top: 10px;
  width: 150px;
}

p{
    display: inline-block;
}

